{% layout 'tear_sheet' %}
<!-- USES "tear_sheet.liquid" TEMPLATE AS HTML LAYOUT FOR TEAR SHEET -->

<!-- Up to you... the style for the HTML is your call  -->
<style>
  
  body {
    font-family: Montserrat, Calibri, sans-serif;
    text-align: center;
  }

  .feat {
    max-width: 350px;
    max-height: 300px;
  }

  .logo {
    width: 200px;
  }

  .title {
    font-size: 18px;
    font-weight: 200;
  }

  .price {
    font-size: 15px;
    font-weight: 200;
  }

  .desc {
    font-size: 13px;
    font-weight: 200;
    margin-left: -100px;
    margin-right: -100px;
    text-align:center;
    background-position: bottom 45px;
  }

  .foot {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: medium;
    width: 100%;
  }

</style>



<section>
  
  <br><br>

  <!-- Enter the pathway to the logo you'd like to use in "src" -->
  <!-- You can use a URL or call it from your assets. Read Shopify Liquid documentation for more information -->
  <br><br>
  <img class="logo" id="logo" src="https://cdn.shopify.com/s/files/1/0439/2868/2653/files/MOXIE_LOGO.png?v=1600200105">
  <br><br>
  
  <div style="margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    
  	<br><br><br><br>
    
    <img class="feat" id="sheet-image">
    
    <div style="margin: 20px"></div>
    <div class="title" id="sheet-title"></div>
    <div style="margin: 5px"></div>
    <div class="desc" id="sheet-desc"></div> 
    <br>
    <div style="font-size:12px; margin-bottom:2px;" id="sheet-sku"></div>
    <div style="font-size:12px" id="sheet-dimens"></div>
    <br>
    <div class="price" id="sheet-price"></div>
      
  </div>

  <div class="foot">2031 West Alabama Street, Houston, Texas 77098 &nbsp;. &nbsp;713.636.2340 &nbsp;. &nbsp;info@moxie-interiors.com</div>
  

</section>

<script>

//////// GET ELEMENTS ////////

    // PRODUCT ID
    console.log(prodIdUrl)
    
    // GET TITLE
      const sheetTitleId = prodId + "title";
      const sheetTitle = localStorage.getItem(sheetTitleId)
      console.log(sheetTitle)

    // GET DESCRIPTION
      const sheetDescId = prodId + "description";
      const sheetDesc = localStorage.getItem(sheetDescId)
      console.log(sheetDesc)

    // GET IMAGE
      const sheetImgId = prodId + "image";
      const sheetImg = localStorage.getItem(sheetImgId)
      console.log(sheetImg)

    // GET PRICE
      const sheetPriceId = prodId + "price";
      const sheetPrice = localStorage.getItem(sheetPriceId)
      console.log(sheetPrice)

    // GET SKU
      const sheetSkuId = prodId + "sku";
      const sheetSku = localStorage.getItem(sheetSkuId)
      console.log(sheetSku)

    // GET DIMENSIONS
      const sheetDimensId = prodId + "dimensions";
      const sheetDimens = localStorage.getItem(sheetDimensId)
      console.log(sheetDimens)


//////// SET ELEMENTS ////////

    // SET TITLE
      document.getElementById('sheet-title').innerHTML = sheetTitle

    // SET DESCRIPTION
      document.getElementById('sheet-desc').innerHTML = sheetDesc

    // SET IMAGE
      document.getElementById('sheet-image').src = sheetImg

    // SET PRICE
      document.getElementById('sheet-price').innerHTML = sheetPrice

    // SET SKU
      document.getElementById('sheet-sku').innerHTML = sheetSku

    // SET DIMENSIONS
      document.getElementById('sheet-dimens').innerHTML = sheetDimens

  
  function printTearSheet() {
    setTimeout(function () { window.print(); }, 1000);
  	window.onfocus = function () {
      setTimeout(function () {
        window.close(); }, 1000);
    }
  }

  window.onload = printTearSheet();

</script>

<!-- Genius coding by Grävy Design Co. // @gravyhtx -->