{% layout 'tear_sheet' %}
<!-- USES "tear_sheet.liquid" TEMPLATE AS HTML LAYOUT FOR TEAR SHEET -->

<style>

  /* ALWAYS REMOVE ADMIN + PREVIEW BAR */
  #admin-bar-iframe {
    display: none !important;
  }
  #preview-bar-iframe {
    display: none !important;
  }
 
  /* PAGE & PRINT SETUP */
  @page {
    size: auto;
    margin: 0 auto;
    @page :footer {
        display: none
    }
  
    @page :header {
        display: none
    }
  }
  
  @media print {
    html, body {
      width: 99%;
      height: 99%;
      margin: 0 auto;
      display: block;
      text-align: center;
      overflow: hidden; // Ensure page never overflows to the next page
    }
    .title {
      padding: 0 20px 0 0;
    }
  }
 
  main {
    /* Change to whatever font you want to use. Google Fonts imported in 'Layout' */
    font-family: Montserrat, Calibri, sans-serif;
    text-align: center;
  }
 
  .logo-div {
    position: -webkit-sticky;
              position: sticky;
  }
 
  .logo {
/*     filter: invert(1); */
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: -webkit-block;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
  .feat {
    height: 300px;
    max-width: 400px;
    position: static;
  }
 
  .title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    position: relative;
    width:100%;
  }
 
  .price {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 15px;
    position: static;
  }
 
  .desc {
    font-size: 15px;
    font-weight: 200;
    max-width: 75%;
    margin: 0 auto;
    padding-left: -75px;
    padding-right: -75px;
    padding-bottom: 30px;
    text-align:center;
    position: static;
    width: 100%
  }
 
  footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: medium;
    font-size: 12px;
    padding-bottom: 10px;
  }
  
  
  .logo-break {
    height: 100px;
    height: 1vh;
  }
  .feat-break {
    height: 50px;
  }
  
  #print-info {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
  }
 
</style>

<section>

  <!-- Enter the pathway to the logo you'd like to use in "src" -->
  <!-- You can use a URL, call it from your assets, etc. Read Shopify Liquid documentation for more information -->
  <img class="logo" alt="Store Logo" id="logo" src="https://cdn.shopify.com/path/to/logo.png">
  
   <!-- Add space between logo and printed info -->
   <div class="logo-break" id="logo-break"></div>
   
  <div id="print-info">
    <img class="feat" id="sheet-image">
    
     <!-- Add space between image and description info -->
     <div class="feat-break" id="feat-break"></div>
     
    <div class="info" id="info">
      <div class="title" id="sheet-title"></div>
      <div class="price" id="sheet-price"></div>
      <div class="desc" id="sheet-desc"></div>
      <div class="spacer" style="margin: 10px"></div>
      <div class="sku" style="font-size:18px; margin-bottom:5px" id="sheet-sku"></div>
      <div class="dmens" style="font-size:18px" id="sheet-barcode"></div>
    </div>
  </div>

  <footer class="foot" id="foot">420 Address St., Anywhere, USA &nbsp;. &nbsp;555.555.5555 &nbsp;. &nbsp;your@email.com</footer>

</section>

<script>
 
  
//////// GET ELEMENTS ////////
 
  // PRODUCT ID
    console.log(prodIdUrl)
   
 
    // GET TITLE
      const sheetTitleId = "title" + prodId;
      const sheetTitle = localStorage.getItem(sheetTitleId)
      console.log(sheetTitle)
 
    // GET DESCRIPTION
      const sheetDescId = "description" + prodId;
      const sheetDesc = localStorage.getItem(sheetDescId)
      console.log(sheetDesc)
 
    // GET IMAGE
      const sheetImgId = "image" + prodId;
      const sheetImg = localStorage.getItem(sheetImgId)
      console.log(sheetImg)
 
    // GET PRICE
      const sheetPriceId = "price" + prodId;
      const sheetPrice = localStorage.getItem(sheetPriceId)
      console.log(sheetPrice)
 
    // GET SKU
      const sheetSkuId = "sku" + prodId;
      const sheetSku = localStorage.getItem(sheetSkuId)
      console.log(sheetSku)
 
    // GET BARCODE
      const sheetbarcodeId = "barcode" + prodId;
      const sheetbarcode = localStorage.getItem(sheetbarcodeId)
      console.log(sheetbarcode)
 
 
 
//////// SET ELEMENTS ////////
 
    // SET TITLE
      document.getElementById('sheet-title').innerHTML = sheetTitle
 
    // SET DESCRIPTION
      if(sheetDesc) {
      	document.getElementById('sheet-desc').innerHTML = sheetDesc
      }
 
    // SET IMAGE
      document.getElementById('sheet-image').src = sheetImg
 
    // SET PRICE
      if (sheetPrice === "$0.00") {
        // You can comment this out and add anything you want, but this is for items that appear "FREE"
        // when they might actually just not be priced yet.
        document.getElementById('sheet-price').innerHTML = "PLEASE INQUIRE FOR PRICING" 
      } else {
        document.getElementById('sheet-price').innerHTML = sheetPrice}
 
    // SET SKU
      document.getElementById('sheet-sku').innerHTML = sheetSku
 
   // SET BARCODE
      document.getElementById('sheet-barcode').innerHTML = sheetbarcode
 
     
      
      
//////// PRINT WINDOW ////////
      
   var printed = false;

   function printPage() {
     window.print();
     printed = true; // Set `printed` to 'true'
   }

  function printTearSheet() {
    window.onload = printPage()
    if (printed === true) { // Checks that printPage() has printed the page...
      setTimeout(function () {
        // Wait 500ms to close
        // Fires after Print Preview is exited
        window.close(); }, 500);
    }
  }
  
  ////////////////////////////
  // PRINT TEAR SHEET CODE ///
  ////////////////////////////
  
  // Wait 500ms then PRINT when Document is ready...
    setTimeout(function () { docReady(printTearSheet()) },500) 
  
  
  // Wait for ALL resources to load..
    function docReady(e) {
      document.addEventListener("load", e); 
    }  
    
/* 

  //////////////////////////
  // BROWSER CONDITIONALS //
  //////////////////////////

    Modify as needed...

*/
  // Opera 8.0+
  var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
 
  // Firefox 1.0+
  var isFirefox = typeof InstallTrigger !== 'undefined';
 
  // Safari 3.0+ "[object HTMLElementConstructor]"
  var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && window['safari'].pushNotification));
 
  // Internet Explorer 6-11
  var isIE = /*@cc_on!@*/false || !!document.documentMode;
 
  // Edge 20+
  var isEdge = !isIE && !!window.StyleMedia;
 
  // Chrome 1 - 79
  var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);
 
  // Edge (based on chromium) detection
  var isEdgeChromium = isChrome && (navigator.userAgent.indexOf("Edg") != -1);
 
  // Blink engine detection
  var isBlink = (isChrome || isOpera) && !!window.CSS;
 
 
  if (isSafari === true) {
    console.log('safari')
    document.getElementById('foot').style.bottom = '0';
    document.getElementById('foot').style.marginBottom = '-25px';
    document.getElementById('foot').style.position = 'fixed';
    document.getElementById('logo').style.marginBottom = '50px';
//  document.getElementById('sheet-title').style.width = '90%';
    document.getElementById('image').style.maxHeight = '350px';
    document.getElementById('sheet-desc').style.maxWidth = '70%';
    document.getElementById('sheet-desc').style.fontSize = '12px';
    document.style.padding = '10px';
//  document.getElementById('feat').style.maxWidth = '700px';
//  document.getElementById('feat').style.height = '200% !important';
  } else {
    console.log('not safari')
    document.getElementById('foot').style.bottom = '0';
    document.getElementById('foot').style.position = 'fixed';
    document.getElementById('foot').style.marginBottom = '10px';
  }
  
// BOOLEAN VARIABLES
  isFirefox
  isChrome
  isSafari
  isOpera
  isIE
  isEdge
  isEdgeChromium
  isBlink
 
   // Genius coding by Grävy Design Co. // @gravyhtx
</script>
